.m-button {
    background-color: #2CA01C;
    border-radius: 4px;
    height: 36px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    padding: 6px 16px;
    text-align: center;
    min-width: 60px;
    border: unset;
    cursor: pointer;
}

.m-button:focus {
    background-color: #2CA01C;
    border: unset;
    outline: unset;
}

button.m-button:hover {
    background-color: #2CA01C;
}

button.m-button:active {
    background-color: #2CA01C;
}

button.m-btn-nobg {
    background-color: unset;
    color: #000;
    width: 60px;
    border: 1px solid #8d9096;
}

button.m-btn-nobg:hover,
button.m-btn-nobg:focus {
    background-color: #e5e5e5;
}

button.m-btn-delete {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

.m-button-container {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
}

.m-btn-refresh {
    width: 36px;
    height: 24px;
    padding: 0 6px;
}

.m-btn-export {
    width: 36px;
    height: 20px;
    padding: 0 6px;
}

.m-btn-feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-btn-edit {
    font-family: MISA Fonts semibold;
    font-size: 13px;
    font-weight: bold;
    border: none;
    background: unset;
    color: #0075C0;
    font-size: 13px;
    padding: 0 10px;
}

.m-btn-save {
    padding: 0 10px;
}