.m-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.m-loading .m-loading-icon {
  background-image: url("../../assets/loading.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg)
  }
}